:root {
    --color-neutral-100: hsl(0, 0%, 98%);
    --color-primary-400: hsl(214, 72%, 50%);
    --color-primary-500: hsl(214, 72%, 38%);
    --color-primary-600: hsl(218, 40%, 16%);
    --color-primary-700: hsl(217, 33%, 11%);
    --color-success-400: hsl(128, 70%, 35%);
    --color-success-500: hsl(128, 66%, 29%);
    --color-danger-400: hsl(0, 71%, 44%);
    --color-danger-500: hsl(0, 67%, 39%);
}

@font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    src:
        url("./assets/fonts/roboto-regular-webfont.woff") format("woff"),
        url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    src:
        url("./assets/fonts/roboto-bold-webfont.woff") format("woff"),
        url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primary-700);
    color: var(--color-neutral-100);
    min-height: 100vh;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

.main-header {
    padding-block: 2rem;
}

.main-heading {
    font-size: 3.5rem;
}

.card-grid {
    --_min-card-width: 35ch;
    --_max-card-width: 45ch;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 
        minmax(var(--_min-card-width), var(--_max-card-width))
    );
    justify-content: center;
    gap: 2rem;
}

.wrapper {
    --_inline-padding: 2rem;
    max-width: min(1440px, 100% - 2 * var(--_inline-padding));
    margin-inline: auto;
}

.button {
    --_button-bg-color: var(--color-primary-400);
    --_button-bg-color-hover: var(--color-primary-500);
    --_button-text-color: var(--color-neutral-100);
    padding-block: .5rem;
    padding-inline: .75rem;
    background-color: var(--_button-bg-color);
    color: var(--_button-text-color);
    font-weight: 700;
    border-radius: .5rem;
}

.button:hover {
    background-color: var(--_button-bg-color-hover);
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-add {
    --_button-bg-color: var(--color-primary-400);
    --_button-bg-color-hover: var(--color-primary-500);
}

.button-delete {
    --_button-bg-color: var(--color-danger-400);
    --_button-bg-color-hover: var(--color-danger-500);
}

.icon {
    fill: var(--color-neutral-100);
}

.card {
    background-color: var(--color-primary-600);
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 1rem;
}

.card-header {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.card-header :nth-child(2) {
    margin-left: auto;
}

.card-title {
    font-size: 2rem;
}